.css-156tkzh-MuiButtonBase-root-MuiPickersDay-root {
	box-shadow: none !important;
	background: transparent !important;
}
.css-156tkzh-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
	background: linear-gradient(
		195deg,
		rgb(66, 66, 74),
		rgb(25, 25, 25)
	) !important;
	box-shadow: none !important;
}
