.ant-drawer-mask {
	backdrop-filter: blur(2.5px) !important;
	background-color: rgba(0, 0, 0, 0) !important;
}
/* .ant-drawer-content-wrapper {
	margin: 1rem 0.5rem;
	border-radius: 5rem !important;
} */
