.onsite-chip {
	background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
	line-height: 1;
}

.online-chip {
	background: linear-gradient(310deg, rgb(98, 117, 148), rgb(168, 184, 216));
	line-height: 1;
}

.completed-chip {
	background: linear-gradient(310deg, rgb(23, 173, 55), rgb(152, 236, 45));
	line-height: 1;
}
.cancelled-chip {
	background: linear-gradient(310deg, rgb(234, 6, 6), rgb(255, 102, 124));
	line-height: 1;
}
