.navbar-content {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	height: 5rem;
	margin-top: 0.75rem;
	justify-content: center;
	align-items: center;
	background: transparent;
	box-shadow: none;
	border: 0;
	position: sticky !important;
	top: 0;
}
.navbar-content .breadcrumb {
	display: flex;
	grid-column: 1/2;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.navbar-content .navbar-menu {
	display: flex;
	grid-column: 2/3;
	vertical-align: middle;
	text-align: center;

	margin-right: 2rem;
	justify-content: flex-end;
}
.SignIn {
	color: #3d4146;
	opacity: 0.6;
	/* height: 40px; */
}
.nav-menu-items {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
}
.nav-menu-items .search {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-menu-items .sign-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #3d4146;
	opacity: 0.8;
	gap: 0.25rem;
}

.nav-menu-items .setting-btn {
	display: flex;
	justify-content: center;
	opacity: 0.6;
	align-items: center;
	color: #3d4146;
}
.nav-menu-items .notification-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3d4146;
	opacity: 0.8;
}
.setting-btn .setting svg {
	color: #3d4146 !important;
	opacity: 0.8;
}

.notification-btn svg {
	color: #3d4146 !important;
	opacity: 0.8;
}

.breadcrumb .active {
	color: #3d4146;
	font-weight: 500;
}
.breadcrumb h1 {
	color: #3d4146;
	/* font-weight: 500; */
	margin-left: 5%;
	font-weight: 700 !important;
}
