.stats-card-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 2rem;
}
.earning-cards {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
}
.appointment-cards {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
}
