.p-navbar-main {
	margin: 1rem 1rem 1rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.BarsArrow {
	display: none;
}
.date-and-time {
	display: flex;
	gap: 0.75rem;
}
.userMenu {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}
.p-navbar {
	background: transparent;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width: 768px) {
	.p-navbar-main {
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-end;
	}
	.BarsArrow {
		display: block;
	}
	.date-and-time {
		display: none;
	}
	.userMenu {
		justify-content: flex-end;
		gap: 0rem;
	}
	.userMenu .Menu {
		margin-right: -2rem;
	}
	.p-navbar {
		display: flex;
		align-items: flex-start;
		gap: 1rem;
	}
	.p-nav-user {
		justify-content: flex-end;
		align-items: center;
		width: 15rem;
	}
}
