.main-layout {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 2rem;
	min-height: 100vh;
}
.main-layout .sideNav {
	width: 16rem;
	
   
	flex: 1;
}
/* .main-layout .topNav {
	flex: 2;
	display: flex;
	flex-direction: column;
} */
