.ap-main {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
   margin-right: 2rem;
   
}
.ap-main .timeline {
   flex: 2;
   display: flex;
   justify-content: flex-start !important;
   align-items: center !important;
   width: 100%;
   height: 100%;
}
.timeline .timeline-c {
   /* align-items: flex-start; */
   justify-content: flex-start !important;
   /* width: 100%; */
   
}
.ap-main .calender {
   flex: 1;
   width: 100%;
   height: 100%;
}