.main-content {
	margin-top: 3rem;
	margin-right: 1rem;
	background: #fff;
	padding: 2rem;
	border-radius: 15px;
	font-family: 'poppins';
}

@media screen and (max-width: 768px) {
	.main-content {
		margin-top: 1rem;
		margin-right: 0rem;
		padding: 1rem !important;
	}
}
