.card-body {
	width: 100%;
	padding: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
	margin-right: 1.25rem;
	height: 20rem;
	width: 50rem;
   font-family: 'poppins';
	background-color: #fafafa;
}
.card-button {
	margin: 0;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 2rem;
   font-family: 'poppins';
}
.card-data {
	display: flex;
   font-family: 'poppins';
}
.card-data .user {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.user .name {
	font-family: 'poppins';
	margin-top: 2%;
}
.card-data .details {
	display: flex;
	flex-direction: column;
	flex: 2;
	align-items: flex-start;
	justify-content: center;
   font-family: 'poppins';
}
.booking {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.sub-heading {
   font-family: 'poppins';
}