.Header {
	display: flex;
	width: 100%;
	height: auto;
	padding: 40px 80px;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}
.logo {
	flex: 1 1 auto;
	font-weight: 700;
	font-size: 24px;
	line-height: 42px;
	letter-spacing: -0.06em;
	color: #3d4146;
}
.logo span {
	color: #418cfd;
}
.menu {
	display: flex;
	flex: 0 1 auto;
}
.menu ul {
	display: flex;
	flex-direction: row;
	align-items: center;

	justify-content: space-between;
}
.menu ul li {
	padding: 0 1.5rem;
	text-decoration: none;
	cursor: pointer;
	color: rgba(61, 65, 70, 0.7);
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}
.menu ul li:hover {
	color: #418cfd;
	transition: all 0.5s ease-in-out;
}
button {
	display: flex;
	flex-direction: row;
	padding: 10px 20px;
	align-items: center;
	justify-content: center;
	background: #418cfd;
	border-radius: 12px;
	color: #e7f1f9;
	filter: drop-shadow(0px 10px 25px rgba(65, 140, 253, 0.2));
	margin-left: 50px;
	font-weight: 400;
	font-size: 14px;
}
button span {
	padding: 0 5px;
	color: #e7f1f9;
	opacity: 0.8;
}
.burger {
	display: none;
	color: #3d4146;
}

@media (max-width:960px) {
	.Header {
		display: flex;
		width: 100%;
		height: auto;
		padding: 40px 40px;
		align-items: center;
		justify-content: space-between;
		z-index: 10;
	}
	.burger{
		display: block;
	}
	.menu {
		display: none;
	}
	button {
		display: none;
	}
	drawer:title {
		font-weight: 500;
	}
}
