.sticky-sidebar {
	position: sticky !important;
	top: 7rem !important;
	height: 30rem;
}
.sticky-user {
	position: sticky !important;
	top: 7rem !important;
	height: 10rem;
}
.sticky-header {
	position: sticky !important;
	top: 0 !important;
	height: 7rem;
	transition: all 5s ease-in-out;
	z-index: 20;
}
