.login-main {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	align-items: center;
	justify-content: center;
}
.login-main .login-fields {
	display: flex;
	flex: 1;
	/* margin-left: 10%; */
	align-items: center;
	justify-content: center;
}
.login-fields .h2 {
	color: #418cfd;
	font-size: 2rem;
	font-weight: 700;
}
.login-fields Card {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.login-main .login-image {
	display: flex;
	flex: 3;
}
.login-button {
	background-color: linear-gradient(
		310deg,
		rgb(33, 82, 255),
		rgb(33, 212, 253)
	);
}
