.login-main {
	display: flex;
	min-height: 100vh;
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
}
.login-main .login-fields {
	display: flex;
	flex: 1;
	margin-left: 10%;
}
.login-fields .h2 {
	color: #418cfd;
}
.login-fields Card {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.login-main .login-image {
	display: flex;
	flex: 3;
}
.login-button {
	background-color: linear-gradient(
		310deg,
		rgb(33, 82, 255),
		rgb(33, 212, 253)
	);
}
