.main-box {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 0rem;
}
.main-box .card1,
.card2,
.card3,
.card4 {
	display: flex;
	align-items: center !important;
	justify-content: center;
}
.card {
	font-weight: 400;
	border-radius: 1rem !important;
	height: 83px;
	font-size: 1rem;
	line-height: 1.625;
	letter-spacing: 0.00938em;
	font-family: 'Poppins';
	box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
	box-sizing: border-box;
	width: 239px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.card-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	gap: 0.5rem;
	height: 100%;
	padding: 16px;
	border-radius: 1rem;
}
.moneyData {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
}
.iButton {
	background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
	box-shadow: none;
	opacity: 1;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iButton svg {
	box-shadow: none;
	color: #fff !important;
	opacity: 1;
}

.cardData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.increasing {
	background: rgb(130, 214, 22);
	background: linear-gradient(310deg, rgb(23, 173, 55), rgb(152, 236, 45));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.decreasing {
	background: #ea0606;
	background: linear-gradient(to left, #ea0606 0%, #ff667c 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
	.main-box {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 1rem;
		width: 100%;
	}
	.main-box .card1,
	.card2,
	.card3,
	.card4 {
		width: 100%;
		padding: 0;
	}
	.card {
		width: 100%;
	}
}
