.main-container {
	display: flex;
	flex: 2 1 auto;
	margin: 45px;
	padding: 20px;
	z-index: 100;
	border-radius: 10px;
	background: #fafafa;
	height: auto;
	box-shadow: 19.375px 19.375px 116.25px 14.5312px rgba(0, 0, 0, 0.1);
	align-items: center;
}
.input-fields {
	display: grid;
	flex: 2;
	grid-template-columns: repeat(5, minmax(0, 2fr));
}
.input-fields .location-container {
	grid-column: 1/2;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 4px;
}
.location-container .location-input {
	margin-top: 10px;
	width: 100% !important;
}
.location-container
	.location-input
	.ant-select-show-search:where(
		.css-dev-only-do-not-override-ph9edi
	).ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	border: 1px solid transparent;
	background: rgba(65, 140, 253, 0.05);
	border-radius: 5px;
	font-family: 'Poppins';
	width: calc(100%) !important;
}
.input-fields .residence-container {
	display: flex;
	flex-direction: column;
	grid-column: 3/6;
	padding: 4px;
}
.input-fields .date-container {
	display: flex;
	flex-direction: column;
	grid-column: 2/3;
	padding: 4px;
}
.date-container .date-input {
	margin-top: 10px;
}
.date-container .container-input {
	display: flex;
}
.date-container
	.date-input
	:where(.css-dev-only-do-not-override-ph9edi).ant-picker-large {
	border: 1px solid transparent;
	background: rgba(65, 140, 253, 0.05);
	border-radius: 5px;
	font-family: 'Poppins';
	display: flex;
	width: calc(100%);
	height: 40px;
	padding: 4%;
}

.residence-container .residence-input {
	margin-top: 10px;
}
.residence-container
	.residence-input
	:where(
		.css-dev-only-do-not-override-ph9edi
	).ant-select-single.ant-select-lg:not(.ant-select-customize-input)
	.ant-select-selector {
	border: 1px solid transparent;
	background: rgba(65, 140, 253, 0.05);
	border-radius: 5px;
	font-family: 'Poppins';
	width: 100%;
	display: flex;
}
.main-container .search-button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-column: 5/6;
	font-family: 'poppins';
}
.search-button button {
	margin-top: 30px;
	border-radius: 5px;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select-single.ant-select-lg
	.ant-select-selector
	.ant-select-selection-item {
	border: 1px solid transparent !important;
}
@media (max-width: 960px) {
	.main-container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
	}
	.input-fields {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.search-button {
		width: 100%;
	}
	.search-button button {
		border-radius: 5px;
		width: 100%;
		margin-left: 0;
	}
	.date-container .time-input Input {
		width: 90%;
	}
	.date-container .date-input Input {
		width: 85%;
	}
	.location-container .location-input Input {
		width: 178%;
	}
}
